html {
    /*
    background: url("../images/background2.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    margin-top: -30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/
    color: #fff;
}

#searchBtn:hover {
    background: gold;
    color: white;
}

body {
    background-image: url(../images/transparent.jpg);
    height: 100%;
    width: 100%;
    margin: -60px;
}

.hero-text {
    font-size: 4em;
    font-family: inherit;
    color: white;
}

.sub-hero {
    width: 784px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 45px;
    color: ghostwhite;
    font-size: 1.42em;
    font-family: monospace;
    width: 100%;
    line-height: 1.7;
}

form {
    text-align: center;
    padding-top: 5%;
}

#searchField {
    height: 40px;
    width: 400px;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 4px;
}

#searchBtn {
    padding: 8px 15px;
    font-size: 1.6em;
    border-radius: 10px;
    background-color: #d5641c;
    color: white;
    outline: none;
    cursor: pointer;
}

#resultSection {
    text-align: center;
    margin-top: 10px;
}

img {
    border: 1px solide black;
    border-radius: 5px;
    margin-bottom: 3rem;
    margin-top: 25px;
}

.alertmsg {
    text-align: center;
    color: #f55353;
    font-size: 24px;
    padding-right: 53px;
}

.item-infos {
    width: 1270px;
    margin: 0 auto;
    margin-left: 75px;
    display: inline-flex;
    list-style-type: none;
}

li {
    width: 300px;
    margin-right: 33px;
}

.iteTitle {
    font-size: 18px;
    color: #9E9E9E;
    font-weight: bolder;
    font-family: fantasy;
    max-height: 1em;
    overflow: hidden;
}

.itemDetailsWrapper {
    line-height: 1px;
}

.itemImage {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 10px solid white;
}

.itemDescription {
    background-color: black;
    border-radius: 5px;
}
